<div class="h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
      <h2 class="text-2xl font-semibold text-center mb-4 text-stone-950">Login</h2>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-8">
        <!-- Campo de Email -->
        <p-floatLabel>
          <input
            pInputText
            id="email"
            type="email"
            formControlName="email"
            autocomplete="off"
            class="w-full"
          />
          <label for="email">E-mail</label>
        </p-floatLabel>
        <small class="text-red-500" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          E-mail inválido
        </small>
  
        <!-- Campo de Senha -->
        <p-floatLabel>
          <input
            pInputText
            id="password"
            type="password"
            formControlName="password"
            autocomplete="off"
            class="w-full"
          />
          <label for="password">Senha</label>
        </p-floatLabel>
        <small class="text-red-500" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          A senha deve ter pelo menos 6 caracteres
        </small>
  
        <!-- Botão de Login -->
        <button
          pButton
          type="submit"
          label="Entrar"
          class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg"
          [disabled]="loginForm.invalid"
        >
        </button>
      </form>
  
      <!-- Link de Esqueci minha senha -->
      <div class="text-center mt-4 text-sm">
        <a href="/register" class="text-blue-500 hover:underline">Cadastrar Conta</a>
      </div>
      <div class="text-center mt-4">
        <a href="#" class="text-blue-500 hover:underline">Esqueci minha senha</a>
      </div>
    </div>
  </div>
  