<p> Tela de login </p>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
    <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
      <small *ngIf="myForm.get('email')?.errors?.['required']">Email é obrigatório.</small>
      <small *ngIf="myForm.get('email')?.errors?.['email']">Insira um email válido.</small>
    </div>
  
    <label for="password">Senha:</label>
    <input type="password" id="password" formControlName="password" />
    <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
      <small *ngIf="myForm.get('password')?.errors?.['required']">Senha é obrigatória.</small>
      <small *ngIf="myForm.get('password')?.errors?.['minlength']">
        A senha deve ter pelo menos 6 caracteres.
      </small>
    </div>
    <button type="submit" [disabled]="myForm.invalid">Entrar</button>
</form>
  